@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #828282 rgba(163, 163, 163, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #888888;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 14px;
  border: 3px solid rgba(168, 168, 168, 0);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Typewriter effect */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  100% {
    border-right-color: transparent;
  }
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation:
    typewriter 2s steps(40, end),
    blinkTextCursor 0.8s steps(40, end) 0.3s;
  animation-fill-mode: forwards;
}

.input-shadow {
  box-shadow: 4.090909004211426px 8.181818008422852px 16.363636016845703px #024382 inset;
}

.stroke-custom {
  text-shadow: -0.5px -1px 1px #1F5C96;
  /* -webkit-text-stroke: 0.5px #1F5C96; */ /* Can't use this because it doesn't work with text-shadow combined */
}

/* Mystic Glow Effect */
.mystic-glow {
  position: relative;
  overflow: hidden;
}

.mystic-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  background: linear-gradient(to right, rgba(72, 222, 123, 0.5), rgba(63, 81, 181, 0.5), rgba(255, 105, 180, 0.5));
  filter: blur(6px);
  opacity: 0.75;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.mystic-glow:hover::before {
  opacity: 1;
}